body {
  margin: 0;
  padding: 0;
}

/* */

.main-container {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 100px 1fr;
  grid-template-areas:
    'header header header header'
    'main main . side'
    'footer footer footer footer';
}

.grid-child {
  transition-duration: 200ms;
}

.grid-child:hover {
  background: white;
}

.first {
  background: yellow;
  grid-area: main;
}

.second {
  background: green;
  grid-area: header;
}

.third {
  background: blue;
  grid-area: side;
}

.fourth {
  background: red;
  grid-area: footer;
}
